/* font */
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* reuseable classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: min(100% - 40px, 1500px);
  margin-inline: auto;
}

.heading-primary {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
}

h1,
h2,
h3,
p,
button {
  font-family: "Inter", sans-serif;
}

.btn-primary {
  background-color: #1d4ed8;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary {
  background-color: transparent;
  color: #1d4ed8;
  padding: 12px 24px;
  width: 100%;
  border: 1px solid #1d4ed8;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

hr {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 20px 0;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  width: 130px;
  height: 45px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav {
  list-style: none;
}
.nav a {
  text-decoration: none;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  color: #575757;
}

/* hero section */
.hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  /* justify-content: center;
  align-items: flex-start; */
}

.hero-content {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 100px 0;
}

.hero-content h1 {
  font-size: 80px;
  line-height: 1.1;
  color: white;
}
.hero-content p {
  max-width: 700px;
  font-size: 18px;
  line-height: 1.6;
  color: white;
}
.hero-content .btn-primary {
  margin-top: auto;
}

/* speakers Section */
.speakers {
  padding: 60px 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 33px;
  padding-top: 40px;
}

.card {
  border: 1px solid #e5e7eb;
  border-radius: 15px;
}

.card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.card-description {
  color: #2563eb;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding-top: 5px;
}
.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 22px;
  font-weight: bold;
  padding: 5px 0;
}
.card-content p {
  font-size: 14px;
  color: #575757;
}

/* pricing section */
.pricing {
  padding: 60px 0;
  background-color: #f8fafc;
}
.pricing-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.sub-heading {
  text-align: center;
  padding-bottom: 40px;
}

.price-card {
  padding: 40px 20px;
  border: 1px solid #e5e7eb;
  border-radius: 15px;
}
.price-card h2 {
  font-size: 44px;
  font-weight: bold;
  color: #0d1b2a;
}

.price-card p {
  font-size: 13px;
  color: #888888;
  font-weight: 500;
}

.price-card ul {
  margin-left: 20px;
}
.price-card ul li {
  font-size: 14px;
  color: #333333;

  padding-bottom: 10px;
}

.price-card ul li::marker {
  color: #2563eb;
}

.btn {
  width: 100%;
  margin-top: 20px;
}

.feature-price {
  background-color: #0d1b2a;
  padding: 40px 20px;
  border: 1px solid #e5e7eb;
  border-radius: 15px;
}

.feature-price h2 {
  font-size: 44px;
  font-weight: bold;
  color: white;
}

.feature-price p {
  font-size: 13px;
  font-weight: 500;
}

.feature-price ul {
  margin-left: 20px;
}
.feature-price ul li {
  font-size: 14px;
  color: white;
  padding-bottom: 10px;
}

.price-card ul li::marker {
  color: #2563eb;
}

/* Conference Tracks */

.tracks {
  padding: 60px 0;
}

.track-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.track-card {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 15px;
  padding: 30px;
  transition: 0.3s ease;
}

.track-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.08);
}

.track-icon {
  width: 60px;
  height: 60px;
  background: #eff6ff;
  color: #2563eb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.track-card h3 {
  font-size: 24px;
  margin-bottom: 12px;
  color: #0d1b2a;
}

.track-card p {
  color: #575757;
  line-height: 1.7;
}
