/* font */
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* reuseable classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: min(100% - 40px, 1500px);
  margin-inline: auto;
}

.heading-primary {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  padding: 60px 0;
}

h1,
h2,
h3,
p,
button {
  font-family: "Inter", sans-serif;
}

.btn-primary {
  background-color: #1d4ed8;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  width: 130px;
  height: 45px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav {
  list-style: none;
}
.nav a {
  text-decoration: none;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  color: #575757;
}

/* hero section */
.hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  /* justify-content: center;
  align-items: flex-start; */
}

.hero-content {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 100px 0;
}

.hero-content h1 {
  font-size: 80px;
  line-height: 1.1;
  color: white;
}
.hero-content p {
  max-width: 700px;
  font-size: 18px;
  line-height: 1.6;
  color: white;
}
.hero-content .btn-primary {
  margin-top: auto;
}

/* speakers Section */
.speakers {
  padding: 40px 0;
}

.cards {
  display: grid;
  grid-template-columns: auto auto;
  gap: 33px;
}

.card {
  border: 1px solid #e5e7eb;
  border-radius: 15px;
  height: 460px;
}

.card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.card-description {
  color: #2563eb;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding-top: 5px;
}
.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 22px;
  font-weight: bold;
  padding: 5px 0;
}
.card-content p {
  font-size: 14px;
  color: #575757;
}
